<% link = pagy_anchor(pagy) -%>
<nav class="flex justify-around text-base" role="navigation">
  <div>
    <% if pagy.prev -%>
      <span class="page prev">
        <%== link.call(pagy.prev, '< Back') %>
      </span>
    <% else-%>
      <span class="page prev disabled">
        <%= '< Back' %>
      </span>
    <% end -%>
  </div>
  <div>
    <% pagy.series.each do |item| -%>
      <% if item.is_a?(String) -%>
        <span class="page current">
          Page
          <%= item %>
          of
          <%= pagy.pages %>
        </span>
      <% end -%>
    <% end -%>
  </div>
  <div>
    <% if pagy.next -%>
      <span class="page next">
        <%== link.call(pagy.next, 'Next >') %>
      </span>
    <% else -%>
      <span class="page next disabled">
        <%= 'Next >' %>
      </span>
    <% end -%>
  </div>
</nav>
