<%#
  This template is i18n-ready: if you don't use i18n, then you can replace the pagy_t
  calls with the actual strings ("&lsaquo; Prev", "Next &rsaquo;", "&hellip;").

  The link variable is set to a proc that returns the link tag.
  Usage: link.call( page_number [, text [, extra_attributes_string ]])
-%>
<% link = pagy_link_proc(pagy) -%>
<nav class="flex justify-around text-base" role="navigation">
  <div>
    <% if pagy.prev -%>
      <span class="page prev"><%== link.call(pagy.prev, '< Back', 'aria-label="previous"') %></span>
    <% else-%>
      <span class="page prev disabled"><%= '< Back' %></span>
    <% end -%>
  </div>
  <div>
    <% pagy.series.each do |item| -%>
      <% if item.is_a?(String) -%>
        <span class="page current">
          Page
          <%= item %>
          of
          <%= pagy.pages %>
        </span>
      <% end -%>
    <% end -%>
  </div>
  <div>
    <% if pagy.next -%>
      <span class="page next"><%== link.call(pagy.next, 'Next >', 'aria-label="next"') %></span>
    <% else -%>
      <span class="page next disabled"><%= 'Next >' %></span>
    <% end -%>
  </div>
</nav>
