<div class="flex flex-col gap-12 bg-slate-100" >
  <%= render(HeaderComponent.new(featured: true)) %>
  <%= render(DiscountComponent.new()) %>
  <%= render(PaymentComponent.new()) %>
  <%= render(ShipmentComponent.new()) %>
  <%= render(FooterComponent.new()) %>
</div>
