<div>
  <header class="h-14 w-screen bg-black px-4 lg:h-min lg:pt-6 pt-2">
    <div class="hidden lg:mx-auto lg:flex lg:w-auto lg:space-x-6 lg:justify-between h-14">
      <%= render LogoComponent.new(title: 'Login', type: 'white') %>
      <div class="lg:w-[28.5rem]">
        <%= render SearchBarComponent.new(placeholder: 'Search for products', size: 'desktop') %>
      </div>
      <div>
        <%= render(MyaccountComponent.new()) %>
      </div>
      <div>
        <%= render(ShoppingCartComponent.new()) %>
      </div>
    </div>
    <div class="lg:hidden flex flex-col gap-4">
      <div class="container mx-auto flex items-center">
        <%= render LogoComponent.new(title: 'Login', type: 'white') %>
        <div class="flex-grow">
        </div>
        <div class="flex">
          <%= image_tag "shopping_cart.svg", alt: "Shopping Cart" %>
          <button class="navbar-burger flex items-center text-white p-3">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Mobile menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="flex justify-center">
        <%= render SearchBarComponent.new(placeholder: 'Search for products', size: 'mobile') %>
      </div>
    </div>
    <div class="navbar-menu relative z-10 hidden" data-controller="burger">
      <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto text-black">
        <div class="flex items-center justify-around mb-8">
          <%= render LogoComponent.new(title: 'Login', type: 'black') %>
          <button class="navbar-close">
            <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div class="py-2 px-4 cursor-pointer border-gray text-base hover:bg-hover">
          <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
        </div>
      </nav>
    </div>
    <% if @featured %>
      <div class="hidden lg:flex lg:flex-col lg:gap-4 lg:items-center">
        <section id="featured-products-container-lg">
          <h1 class="sr-only"></h1>
          <div class="flex flex-row justify-between mt-8" >
            <% Product.featured.each do |product| %>
              <div class="lg:w-[240px] lg:h-[240px] rounded-t-xl border-b-[1px] border-gray overflow-hidden bg-white flex items-center justify-center ml-12">
                <%= image_tag product.image, class: "object-scale-down w-[80%] h-[80%]", alt: product.description %>
              </div>
            <% end %>
          </div>
        </section>
      </div>
    <% end %>
  </header>
  <% if @featured %>
    <div class="hidden lg:flex lg:flex-col lg:items-center lg:gap-4 text-black">
      <div class="flex justify-between">
        <% Product.featured.each do |product| %>
          <div class="w-[240px] rounded-b-xl border-b-[1px] border-gray overflow-hidden bg-white flex flex-col items-center justify-center ml-12">
            <div class="flex flex-row gap-2 justify-center lg:mt-4">
              <div>
                $<%= product.price %>
              </div>
              <div class="text-white">
                <%= render(StateComponent.new(state: product.state)) %>
              </div>
            </div>
            <div class="flex gap-4 mt-4 ml-2 mr-2 items-center">
              <div>
                <%= product.title.truncate(15) %>
              </div>
              <%= render(FavoriteComponent.new(product_id: product.id)) %>
            </div>
          </div>
        <% end %>
      </div>
      <%= render(SeeAllProductsComponent.new()) %>
    </div>
  <% end %>
</div>
<% if @featured %>
  <%= render(ProductTopComponent.new()) %>
<% end %>
