<div>
  <header class="h-14 w-screen bg-black px-4 lg:h-min lg:pt-6 pt-2">
    <%= render HeaderDesktopComponent.new() %>
    <%= render HeaderMobileComponent.new() %>
    <%= render NavBarMenuComponent.new() %>
    <% if @featured %>
      <div class="hidden lg:flex lg:flex-col lg:gap-4 lg:items-center">
        <section id="featured-products-container-lg">
          <h1 class="sr-only"></h1>
          <div class="flex flex-row justify-between mt-8" >
            <% Product.featured.each do |product| %>
              <div class="lg:w-[240px] lg:h-[240px] rounded-t-xl border-b-[1px] border-gray overflow-hidden bg-white flex items-center justify-center ml-12">
                <%= image_tag(product.image.present?? product.image : 'no-image.svg', class: 'object-scale-down w-[80%] h-[80%]', alt: product.description || 'No image') %>
              </div>
            <% end %>
          </div>
        </section>
      </div>
    <% end %>
  </header>
  <% if @featured %>
    <div class="hidden lg:flex lg:flex-col lg:items-center lg:gap-4 text-black">
      <div class="flex justify-between">
        <% Product.featured.each do |product| %>
          <div class="w-[240px] rounded-b-xl border-b-[1px] border-gray overflow-hidden bg-white flex flex-col items-center justify-center ml-12">
            <div class="flex flex-row gap-2 justify-center lg:mt-4">
              <div>
                $<%= product.price %>
              </div>
              <div class="text-white">
                <%= render StateComponent.new(state: product.state) %>
              </div>
            </div>
            <div class="flex gap-4 mt-4 ml-2 mr-2 items-center">
              <div>
                <%= product.title.truncate(15) %>
              </div>
              <%= render FavoriteComponent.new(product_id: product.id) %>
            </div>
          </div>
        <% end %>
      </div>
      <%= render partial: 'products/see_all' %>
    </div>
  <% end %>
</div>
<% if @featured %>
  <%= render(ProductTopComponent.new()) %>
<% end %>
