<div class="flex bg-white justify-evenly font-semibold shadow-xl rounded-md <%= 'border-b-[1px] border-gray' if @product.id < 5 %>" >
  <div class="h-[120px] w-[240px] flex items-center justify-center">
    <%= image_tag(@product.image.present?? @product.image : 'no-image.svg', class: 'object-scale-down w-[80%] h-[80%]', alt: @product.description || 'No image') %>
  </div>
  <div class= "flex flex-col text-sm pt-2 h-[120px] w-[240px] ml-6 gap-3">
    <div class="mt-4 lg:hidden">
      <%= @product.title.truncate(14) %>
    </div>
    <div class="hidden mt-4 lg:block">
      <%= @product.title.truncate(24) %>
    </div>
    <div class="text-white">
      <%= render(StateComponent.new(state: @product.state)) %>
    </div>
    $<%= sprintf('%.2f', @product.price) %>
  </div>
  <div class="flex flex-col text-sm pt-2 h-[120px] w-[240px] justify-evenly pr-2">
    <div class="pl-20">
      <%= render(FavoriteComponent.new(product_id: @product.id)) %>
    </div>
    <div class="pl-10">
      <%= render(CartButtonComponent.new(product: @product)) %>
    </div>
  </div>
</div>
