<div class="flex w-full bg-white justify-evenly font-semibold shadow-xl rounded-lg <%= 'border-b-[1px] border-gray' if @product.id < 5 %>" >
  <div class="h-[120px] w-[240px] flex items-center justify-center bg-white rounded-lg">
    <%= image_tag @product.image, class: "object-scale-down w-[80%] h-[80%]", alt: @product.description %>
  </div>
  <div class= "flex text-sm pt-2 h-[120px] w-[240px] ml-6">
    <div class="flex flex-col gap-3">
      <div class="flex mt-4">
        <%= @product.title.truncate(16) %>
      </div>
      <div class="text-white">
        <%= render(StateComponent.new(state: @product.state)) %>
      </div>
      $<%= @product.price %>
    </div>
  </div>
  <div class="flex flex-col text-sm pt-2 h-[120px] w-[240px] justify-evenly">
    <div class="pl-20">
      <%= render(FavoriteComponent.new(product_id: @product.id)) %>
    </div>
    <div class="text-white w-[100px] text-center rounded-md pl-2 pr-2 pb-1 bg-black">
      Add to Cart
    </div>
  </div>
</div>
