<div class="flex h-[100vh] flex-col bg-cover bg-center bg-no-repeat px-6 py-16 text-base text-dark-violet md:px-28">
  <div class="h-[366px] max-w-[328px] rounded-lg border-black bg-white px-[34px] md:h-[425px] md:max-w-[360px]">
    <div class="pb-5 pt-[40px] md:p-[47px] md:pb-7">
      <%= render(LogoComponent.new(title: 'Login')) %>
    </div>
    <%= form_with data: { controller: "signin" } do |form| %>
      <div class="my-4 flex flex-col">
        <%= form.label :email, class: "text-sm md:text-base" %>
        <%= form.text_field :email, "data-signin-target": "email", class: "border text-black custom-focus h-[34px] w-auto rounded-md border border-dark-violet ps-3 placeholder:text-base placeholder:text-dark-gray hover:border-hover active:outline-none active:ring-2 active:ring-offset-2 md:h-[44px]", placeholder: "Type your email", type: "email" %>
      </div>
      <div class="relative my-4">
        <%= form.label :password, class: "text-sm md:text-base" %>
        <div class="flex flex-col relative">
          <%= form.password_field :password, autocomplete: true, "data-signin-target": "password", class: "border custom-focus h-[34px] w-auto rounded-md border border-dark-violet ps-3 placeholder:text-base placeholder:text-dark-gray hover:border-hover active:outline-none active:ring-2 active:ring-offset-2 md:h-[44px]", placeholder: "Type your password" %>
          <%= render(ButtonVisibilityComponent.new) %>
        </div>
      </div>
      <div class="flex flex-col">
        <%= form.submit "Log in", data: { action: "signin#validateForm" }, id: "submitButton", class: "h-[44px] rounded-md text-white w-full bg-light-gray font-bold text-white outline-none cursor-not-allowed active:ring-2 active:ring-offset-2 active:outline-none custom-focus" %>
      </div>
      <div class="invisible text-red-500 text-center" id="error"></div>
    <% end %>
    <div class="pt-2 text-center md:pt-4">
      <%= link_to "I forgot my password.", "forget_my_password", class: "link-focus link-hover link-active mt-10" %>
    </div>
  </div>
  <div class="mt-4 h-[121px] max-w-[328px] rounded-lg border-black bg-white md:h-[130px] md:max-w-[360px]">
    <div class="m-4 text-center">Don't have an account?</div>
    <Link href="/signup" tabIndex={-1}>
    <div class="mx-[34px] flex flex-col">
      <%= link_to 'Sing up', 'singup', class: "py-2 item-center h-[44px] rounded-md border text-center font-bold bg-white text-black border-dark-violet active:ring-2 active:ring-offset-2 active:outline-none custom-focus hover:bg-hover active:bg-hover" %>
    </div>
  </div>
</div>
