<div class="flex h-[100vh] flex-col bg-cover bg-center bg-no-repeat px-6 py-16 text-base text-dark-violet md:px-28">
  <div class="h-[496px] max-w-[328px] rounded-lg border-black bg-white px-[34px] md:h-[572px] md:max-w-[360px]">
    <h1 class="sr-only">Sign Up</h1>
    <div class="pb-5 pt-[40px] md:p-[47px] md:pb-7">
      <%= link_to image_tag("bm_logo.png", alt: 'Logo'), "/" %>
    </div>

    <%= form_with data: { controller: "signup", action: "submit->signup#submit" }, id: "signUpForm" do |form| %>
      <div class="my-4 flex flex-col">
        <%= form.label :email, class: "text-sm md:text-base" %>
        <%= form.text_field :email, class: "border text-black custom-focus h-[34px] w-auto rounded-md border border-dark-violet ps-3 placeholder:text-base placeholder:text-dark-gray hover:border-hover active:outline-none active:ring-2 active:ring-offset-2 md:h-[44px]", placeholder: "Type your email", type: "email" %>
      </div>

      <div class="relative my-4">
        <%= form.label :password, class: "text-sm md:text-base" %>
        <div class="flex flex-col">
          <%= form.password_field :password, autocomplete: true, class: "border custom-focus h-[34px] w-auto rounded-md border border-dark-violet ps-3 placeholder:text-base placeholder:text-dark-gray hover:border-hover active:outline-none active:ring-2 active:ring-offset-2 md:h-[44px]", placeholder: "Type your password" %>
          <%- #= button_to "New", action: "visibility" %>
        </div>
      </div>

      <div class="relative my-4">
        <%= form.label :confirm_password, class: "text-sm md:text-base" %>
        <div class="flex flex-col">
          <%= form.password_field :confirm_password, autocomplete: true, class: "border custom-focus h-[34px] w-auto rounded-md border border-dark-violet ps-3 placeholder:text-base placeholder:text-dark-gray hover:border-hover active:outline-none active:ring-2 active:ring-offset-2 md:h-[44px]", placeholder: "Type your password" %>
          <%- #= button_to "New", action: "visibility" %>
        </div>
      </div>

      <div class="flex flex-col">
        <%= form.submit "Sing up", class: "h-[44px] rounded-md text-white w-full bg-light-gray font-bold text-white outline-none cursor-not-allowed", id: "submitButton" %>
      </div>

      <div class="invisible text-red-500 text-center", id="error">
      </div>
    <% end %>

    <div class="mt-5 text-center">By signing up, you accept the
      <a class="link-focus link-hover link-active" href="/data_policy">Data Policy</a> and the
      <a class="link-focus link-hover link-active" href="/cookies_policy">Cookies Policy.</a>
    </div>

    <div class="mt-5 text-center">Already have an account?
      <a href="/login" class="link-focus link-hover link-active">Log in</a>
    </div>
  </div>
</div>
