<div class="flex flex-col gap-12 bg-slate-100" >
  <%= render(HeaderComponent.new(featured: false)) %>
  <%= turbo_frame_tag "main" do %>
    <div class="flex flex-col text-black shadow-sm mt-2">
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render(ProductComponent.new(product: product)) %>
        <% end %>
      <% end %>
    </div>
    <div class="text-black text-center mt-4">
      <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    </div>
  <% end %>
  <%= render(FooterComponent.new()) %>
</div>
